<div class="Heading">EDUCATION BOARD</div>

<div class="list">OVERALL PERFORMANCE</div>
<kendo-grid [kendoGridBinding]="average" [pageable]="true" [pageSize]="1" [filterable]="true">
    <kendo-grid-column field="schoolName" title="School"></kendo-grid-column>
    <kendo-grid-column field="overAllPercentage" title="Over All Performance"></kendo-grid-column>
    <kendo-grid-column field="numberOfStudents" title="Number Of Students"></kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-dataItem>
        <kendo-grid [data]="dataItem.subjects">
            <kendo-grid-column field="subject" title="Subject"></kendo-grid-column>
            <kendo-grid-column field="average" title="Average"></kendo-grid-column>
        </kendo-grid>
    </ng-template>
</kendo-grid>